[submodule "modules/columnflow"]
	path = modules/columnflow
	url = https://github.com/gsaha009/columnflow.git
[submodule "modules/cmsdb"]
	path = modules/cmsdb
	url = https://github.com/gsaha009/cmsdb.git
