[submodule "modules/columnflow"]
	path = modules/columnflow
	url = https://github.com/columnflow/columnflow.git
[submodule "modules/cmsdb"]
	path = modules/cmsdb
	url = https://github.com/uhh-cms/cmsdb.git

[submodule "modules/extern/TauAnalysis/ClassicSVfit"]
	path = modules/extern/TauAnalysis/ClassicSVfit
	url = https://github.com/SVfit/ClassicSVfit.git
